.cart-container {
  margin: 30px 0px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-container-principal {
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.btnPagar {
  background-color: red;
  width: 70px;
  height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.t-l-btn {
  text-decoration: none;
  width: 70px;
  height: 30px;
}

.cart-title {
  color: white;
}

.content-card-body {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.cart-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  gap: 10px;
}
.summary-content {
  background-color: white;
  width: 30%;
  height: 220px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.t-resumen-compra {
  border-bottom: 1px solid rgb(201, 199, 199);
  padding: 10px 0px;
  font-weight: bold;
  width: 90%;
  font-size: 18px;
}
.t-price-producto {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  font-size: 15px;
}

.total-price {
  font-size: 15px;
}

.t-price-envio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-top: 5px;
  font-size: 15px;
}

.t-price-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.btnPagar {
  background-color: var(--purplelight);
  width: 90%;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
}

.content-card-empty {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: var(--lila);
  border-radius: 10px;
}
.img-carrito-empty {
  width: 120px;
  height: 120px;
}
.t-carrito-empty-1 {
  margin-top: 15px;
  font-weight: 700;
  font-size: 22px;
}
.t-carrito-empty-2 {
  margin-top: 10px;
  color: rgb(54, 54, 54);
}

.btn-carrito-empty {
  margin-top: 15px;
  border: none;
  height: 50px;
  width: 300px;
  background-color: var(--purplelight);
  color: white;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .cart-container {
    width: 90%;
    gap: 15px;
  }
  
  .t-l-btn {
    text-decoration: none;
    width: 700px;
    height: 30px;
  }
  
  .content-card-body {
    flex-direction: column;
    gap: 20px;
  }
  .cart-content {
    width: 100%;
  }
  .summary-content {
    width: 100%;
  }
  .content-card-empty {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-color: var(--lila);
    border-radius: 10px;
  }
}