.container_class {
  display: flex;
  flex-direction: column;

  gap: 10px;
}
.container_products_class {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
}

.container-categorias {
  margin-top: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
  font-family: "Roboto", sans-serif;
}

.title-category {
  cursor: pointer;
}

@media (max-width: 425px) {
  .container-categorias {
    gap: 50px;
    
  }
  .container_class {
    align-items: center;
    display: flex;
    flex-direction: column;

    gap: 10px;
  }
  .container_products_class {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }

  .title-category {
    cursor: pointer;
  }
}
