:root {
  --purpleBackGround: #352f44;
  --purplelight: #5c5470;
  --lila: #b9b4c7;
  --white: #faf0e6;
  --black: #000000;
}

.container-categorias-homepage {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.contHome {
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  margin-top: 30px;
}
.card-categoria {
  background-color: var(--lila);
  width: 200px;
  height: 190px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  text-decoration: none;
}

.img-categoria {
  width: 200px;
  height: 120px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.name-categoria {
  color: var(--black);
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 500;
}

@media (max-width: 425px) {
  .container-categorias-homepage {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 30px 0px;
  }
  .card-categoria {
    width: 350px;
    height: 250px;
    border-radius: 5px;
    gap: 10px;
    cursor: pointer;
  }
  
  .img-categoria {
    width: 350px;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
}
