:root{
    --purpleBackGround: #352F44;
    --purplelight: #5C5470;
    --lila: #B9B4C7;
    --white: #FAF0E6;
    --black: #000000;
}

.container-categorias {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
  
}
.contHome{
    font-family: "Roboto", sans-serif;
}
.card-categoria {
  background-color: var(--lila);
  width: 200px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  cursor: pointer;
  text-decoration: none;
}

.img-categoria {
  width: 180px;
  height: 120px;
  border-radius: 10px;
  margin-top: 10px;
}

.name-categoria {
  color: var(--black);
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}