.product-section {
  width: 100vw;
  /* height: 100vh; */
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.main-product-container {
  display: grid;
  /* border: 1px solid rebeccapurple; */
  grid-template-columns: 1fr 1fr;
  background-color: aliceblue;
  width: 850px;
  margin-bottom: 40px;
  border-radius: 20px;
  height: 402px;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  border-radius: 8px;
  width: 211px;
  height: 268px;
}

.product-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.product-details-category, .product-info-name, .product-price, .product-description, .product-description-content {
  margin-bottom: 10px;
}

.product-price {
  color: #e44d26;
  font-weight: bold;
}

.product-description {
  font-weight: bold;
}

.product-description-content {
  text-align: justify;
}

.section-products-container {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container-cards {
  /* display: flex; */
  /* flex-wrap: nowrap; */
  /* width: 200px; */
  gap: 15px;
  /* align-items: center; */
  /* justify-content: center; */
  /* border: 1px solid black; */
}

/* .card-product {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  text-align: center;
} */

/* .card-product-image {
  width: 100%;
  height: auto;
  border-radius: 8px; */
/* } */

.card-product-name {
  font-size: 1.2em;
  margin: 10px 0;
}

.card-product-price {
  color: #e44d26;
  font-weight: bold;
}

.section-products-title{
  color: #fff;
}

.add-to-cart-button {
  background-color: #e44d26;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.add-to-cart-button:hover {
  background-color: #c43c1d;
}
