:root{
  --purpleBackGround: #352F44;
  --purplelight: #5C5470;
  --lila: #B9B4C7;
  --white: #FAF0E6;
  --black: #000000;
}

.product-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
}

.main-product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--lila);
  width: 850px;
  margin-bottom: 40px;
  border-radius: 20px;
  height: 402px;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  border-radius: 8px;
  width: 211px;
  height: 268px;
}

.product-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.product-info-name{
  color: var(--white);
}

.product-details-category, .product-info-name, .product-price, .product-description, .product-description-content {
  margin-bottom: 10px;
}

.product-price {
  color: #98331a;
  font-weight: bold;
}

.product-description {
  font-weight: bold;
}

.product-description-content {
  text-align: justify;
}

.section-products-container {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container-cards {
  gap: 15px;
}

.card-product-name {
  font-size: 1.2em;
  margin: 10px 0;
}

.card-product-price {
  color: #e44d26;
  font-weight: bold;
}

.section-products-title{
  color: var(--white);
}

.add-to-cart-button {
  background-color: #c04526;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.add-to-cart-button:hover {
  background-color: #9c351e;
}

@media (max-width: 768px) {
  .main-product-container{
    display: flex;
    flex-direction: column;
    max-width: 366px;
    height: 666px;
  }
  .product-info-container {
    padding: 33px 24px;
}
.product-image {
  margin-top: 1rem;
}
}