:root{
    --purpleBackGround: #352F44;
    --bluelight: #3C5B6F;
    --brownDark: #948979;
    --brownLight: #DFD0B8;
    --white: #fff;
}

body{
    background-color: var(--purpleBackGround);
    width: 100vw;
    height: 100vh;
}