:root{
    --purpleBackGround: #352F44;
}

.principal-structure{
    background-color: var(--purpleBackGround);
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.container-header {
    width: 100vw;
    min-height: 10vh;
}

.container-body {
    width: 100vw;
    min-height: 90vh;
}