.section-success-principal {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.success-container {
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;

}
.s-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.img-success {
  width: 50px;
  height: 50px;
}
.title-1 {
  font-size: 50px;
  color: white;
}
.title-2 {
  color: white;
  font-size: 18px;
}

.summary-content-success {
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 400px;
  height: auto;
  align-items: center;
}

.title-summary {
  width: 90%;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}
.n-order-date-summary {
  padding: 5px 0px;
  border-bottom: 1px solid rgb(213, 213, 213);
  width: 90%;
  text-align: center;
}

.t-price-producto-summary {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  font-size: 15px;
}

.total-price-summary {
  font-size: 15px;
}

.t-price-envio-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-top: 5px;
  font-size: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid gainsboro;
}

.t-price-total-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}
.metodo-pago {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(201, 199, 199);
  width: 90%;
}

.btnRegresarTienda {
  margin-top: 20px;
  border: none;
  height: 50px;
  width: 90%;
  background-color: var(--purplelight);
  color: white;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 10px;
}

.title-metodo-pago {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}
.tipo-metodo-pago{
    font-size: 17px;
    margin-top: 5px;
    font-style: italic;
}
.terminacion-tarjeta{
    font-size: 15px;
    margin-bottom: 5px;
}
.tipo-pago-seccions{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 10px 0px;
}

.tipo-pago-section-1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-tipo-tarjeta {
  width: 60px;
  height: 30px;
}

@media (max-width: 425px) {
  
  .success-container {
    width: 80%;
    gap: 5px;
  
  }
  .s-1 {
    gap: 15px;
  }
  
  .img-success {
    width: 40px;
    height: 40px;
  }
  .title-1 {
    font-size: 40px;
  }
  .title-2 {
    font-size: 16px;
  }
  
  .summary-content-success {
    margin-top: 10px;
    border-radius: 10px;
    width: 350px;
  }
  
  .title-summary {
    margin-top: 10px;
  }

  .btnRegresarTienda {
    margin-bottom: 15px;
  }
}