.card_product {
    width: 180px;
    height: 220px;
    background-color: white;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

img{
    width: 150px;
    height: 160px;
    border-radius: 10px;
}
.price-t{
    font-weight: bold;
}