:root{
    --purpleBackGround: #352F44;
    --purplelight: #5C5470;
    --lila: #B9B4C7;
    --white: #FAF0E6;
}

.navbar{
    width: 100vw;
    height: 50px;
    background-color: var(--purplelight);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.navbar-opcions {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 40px;
}
.loginRegister {
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.title-opc{
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
}
.active {
    color: var(--lila);
    font-weight: bold;    
}

.img-carrito{
    width: 30px;
    height: 30px;
    border-radius: 0px;
}
.cont-cart{
    display: flex;
    position: relative;
}

.circul {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -6px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8pt;
}