:root {
  --purpleBackGround: #352f44;
  --purplelight: #5c5470;
  --lila: #b9b4c7;
  --white: #faf0e6;
  --black: #000000;
}

.navbar {
  background-color: var(--purplelight);
  position: relative;
  font-family: "Roboto", sans-serif;
}

.navbar-content {
    width: 100%;
    height: 100%;
    padding: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-toggle {
  display: none;
  font-size: 34px;
  color: white;
  margin-left: 20px;
}

.navbar-opcions-deskopt {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-left: 40px;
}

.navbar-opcions-mobile {
    display: none;
}

.loginRegister {
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.title-opc {
  text-decoration: none;
  color: var(--white);
  display: flex;
  align-items: center;
}

.active {
  color: var(--lila);
  font-weight: bold;
}

.cont-cart {
  display: flex;
  position: relative;
}

.img-carrito {
    width: 30px;
    height: 30px;
    border-radius: 0px;
}

.circul {
    background-color: var(--lila);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9pt;
    color: black;
    font-weight: bold;
}

@media (max-width: 425px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-opcions-deskopt {
    display: none;
  }
  
  .navbar-opcions-mobile {
    border-top: 1px solid var(--purpleBackGround);
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--purplelight);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
    padding-left: 20px;
  }
  .navbar-opcions-mobile.open {
    display: flex;
    max-height: 500px; 
    opacity: 1;
    padding: 15px 20px;
  }

  .loginRegister {
    flex-direction: row;
    gap: 25px;
  }
}

/* .navbar {
  background-color: var(--purplelight);
  position: relative;
  font-family: "Roboto", sans-serif;
}

.navbar-content {
    width: 100%;
    height: 100%;
    padding: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-toggle {
  display: none;
  font-size: 34px;
  color: white;
  margin-left: 20px;
}

.navbar-opcions-deskopt {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-left: 40px;
}

.navbar-opcions-mobile {
    display: none;
}

.loginRegister {
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.title-opc {
  text-decoration: none;
  color: var(--white);
  display: flex;
  align-items: center;
}

.active {
  color: var(--lila);
  font-weight: bold;
}

.cont-cart {
  display: flex;
  position: relative;
}

.img-carrito {
    width: 30px;
    height: 30px;
    border-radius: 0px;
}

.circul {
    background-color: var(--lila);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9pt;
    color: black;
    font-weight: bold;
}

@media (max-width: 425px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-opcions-deskopt {
    display: none;
  }
  
  .navbar-opcions-mobile {
    border-top: 1px solid var(--purpleBackGround);
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--purplelight);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
    padding-left: 20px;
  }
  .navbar-opcions-mobile.open {
    display: flex;
    max-height: 500px; 
    opacity: 1;
    padding: 15px 20px;
  }

  .loginRegister {
    flex-direction: row;
    gap: 25px;
  }
} */